.main_div{
    background-color: lightslategrey;
    margin: auto;
}

.main_title{
    font-family: 'Barlow Condensed';
    color: whitesmoke;
    font-size: 50px;
    padding-left: 15px;
    font-family: bold;
}

.main_subtitle{
    font-family: 'Montserrat';
    color: whitesmoke;
    font-size: 25px;
    font-family: bold;
    padding-left: 15px;
}

.second_div{
    background-color: whitesmoke;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 55px;
    margin-left: 55px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



